$main-color: #3588cf;
$dark-accent: #07adad;
$offset-black: #212121;
$error-red: #ff4157;
$dark-grey: #424242;
$subtitle-color: #757575;
$hints-color: #a1a0a0;
$divider-color: #ececec;
$main-background: #f5f5f5;
$filter-background: #eaeff5;
$slogan-color: #fff;
$navigation-buttons: #fefefe;
$input-hint: #c7c7c7;
$greyish-brown: #424242;
